
.top ul{display: flex;}
.top ul>li{margin-right: 20px;}
.cur{font-size:16px;color: red;direction: inherit;}
.hobby_box{width:400px;display:flex;flex-wrap: wrap;}
.hobby_box li{height: 30px; border:1px solid #ccc;margin-left:15px;margin-bottom:15px;line-height: 30px;padding:0 10px;}
.hobby_box li.choise{border:1px solid red}

