<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	{include file="ls_css.html"}
</head>
<body>
	<div class="login_state">
		{include file="login_state.html"}
	</div>
	
	<div class="container">
		<div class="box_top">
			<div class="t_left">
				<div class="tl_content p_light">
					<div class="icon morning"></div>
					<div class="tl_p">
						<p>早市预告</p>
						<p>10:00 开始</p>
					</div>
				</div>
				<div class="tl_content">
					<div class="icon afternoon"></div>
					<div class="tl_p">
						<p>午市结束</p>
						<p>22:00 结束</p>
					</div>
				</div>
				<div class="tl_content">
					<div class="icon night"></div>
					<div class="tl_p">
						<p>晚市抢鲜</p>
						<p>22:00-10:00</p>
					</div>
				</div>
			</div>
			<div class="t_right">
				<p class="tr_p">距离本场结束还有</p>
				<div class="tr_time">
					<div class="time_box"></div>
					<div class="two_dot">:</div>
					<div class="time_box"></div>
					<div class="two_dot">:</div>
					<div class="time_box"></div>
				</div>
			</div>
		</div>
		<div class="box_bottom">
			<div class="arrow_head ah_left"><</div>
			<div class="arrow_head ah_right">></div>
			<div class="bar_box">
				<ul class="bar">
					<li>
						<a href="{url('jdsx', 'jdsx_info')}">
							<div class="price">
								<div class="price_l">￥9.90</div>
								<p class="price_s">￥18.8</p>
							</div>
							<div class="goods_img">
								<img width="100%" height="100%" ="100%" 
								src="public/images/goods_img_1.jpg" alt="">
							</div>
							<p class="g_datails">
								第二件4.9  买3份发5斤 邻和 陕西黑布林 李子 500g
							</p>
							<p class="praise_rate">好评率<span>98%</span></p>
							<div class="pr_sum">
								<div class="pr_value"></div>
							</div>
							<div class="purchase">立即抢购</div>
						</a>
					</li>
					<li>
						<a href="{url('jdsx', 'jdsx_info')}">
							<div class="price">
								<div class="price_l">￥9.90</div>
								<p class="price_s">￥18.8</p>
							</div>
							<div class="goods_img">
								<img width="100%" height="100%" ="100%" 
								src="public/images/goods_img_1.jpg" alt="">
							</div>
							<p class="g_datails">
								第二件4.9  买3份发5斤 邻和 陕西黑布林 李子 500g
							</p>
							<p class="praise_rate">好评率<span>20%</span></p>
							<div class="pr_sum">
								<div class="pr_value"></div>
							</div>
							<div class="purchase">立即抢购</div>
						</a>
					</li>
					<li>
						<a href="{url('jdsx', 'jdsx_info')}">
							<div class="price">
								<div class="price_l">￥9.90</div>
								<p class="price_s">￥18.8</p>
							</div>
							<div class="goods_img">
								<img width="100%" height="100%" ="100%" 
								src="public/images/goods_img_1.jpg" alt="">
							</div>
							<p class="g_datails">
								第二件4.9  买3份发5斤 邻和 陕西黑布林 李子 500g
							</p>
							<p class="praise_rate">好评率<span>10%</span></p>
							<div class="pr_sum">
								<div class="pr_value"></div>
							</div>
							<div class="purchase">立即抢购</div>
						</a>
					</li>
					<li>
						<a href="{url('jdsx', 'jdsx_info')}">
							<div class="price">
								<div class="price_l">￥9.90</div>
								<p class="price_s">￥18.8</p>
							</div>
							<div class="goods_img">
								<img width="100%" height="100%" ="100%" 
								src="public/images/goods_img_1.jpg" alt="">
							</div>
							<p class="g_datails">
								第二件4.9  买3份发5斤 邻和 陕西黑布林 李子 500g
							</p>
							<p class="praise_rate">好评率<span>50%</span></p>
							<div class="pr_sum">
								<div class="pr_value"></div>
							</div>
							<div class="purchase">立即抢购</div>
						</a>
					</li>
					<li>
						<a href="{url('jdsx', 'jdsx_info')}">
							<div class="price">
								<div class="price_l">￥9.90</div>
								<p class="price_s">￥18.8</p>
							</div>
							<div class="goods_img">
								<img width="100%" height="100%" ="100%" 
								src="public/images/goods_img_1.jpg" alt="">
							</div>
							<p class="g_datails">
								第二件4.9  买3份发5斤 邻和 陕西黑布林 李子 500g
							</p>
							<p class="praise_rate">好评率<span>70%</span></p>
							<div class="pr_sum">
								<div class="pr_value"></div>
							</div>
							<div class="purchase">立即抢购</div>
						</a>
					</li>
					<li>
						<a href="{url('jdsx', 'jdsx_info')}">
							<div class="price">
								<div class="price_l">￥9.90</div>
								<p class="price_s">￥18.8</p>
							</div>
							<div class="goods_img">
								<img width="100%" height="100%" ="100%" 
								src="public/images/goods_img_1.jpg" alt="">
							</div>
							<p class="g_datails">
								第二件4.9  买3份发5斤 邻和 陕西黑布林 李子 500g
							</p>
							<p class="praise_rate">好评率<span>98%</span></p>
							<div class="pr_sum">
								<div class="pr_value"></div>
							</div>
							<div class="purchase">立即抢购</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="bar_box">
				<ul class="bar">
					<li>
						<a href="{url('jdsx', 'jdsx_info')}">
							<div class="price">
								<div class="price_l">￥9.90</div>
								<p class="price_s">￥18.8</p>
							</div>
							<div class="goods_img">
								<img width="100%" height="100%" ="100%" 
								src="public/images/goods_img_1.jpg" alt="">
							</div>
							<p class="g_datails">
								第二件4.9  买3份发5斤 邻和 陕西黑布林 李子 500g
							</p>
							<p class="praise_rate">好评率<span>98%</span></p>
							<div class="pr_sum">
								<div class="pr_value"></div>
							</div>
							<div class="purchase">立即抢购</div>
						</a>
					</li>
					<li>
						<a href="{url('jdsx', 'jdsx_info')}">
							<div class="price">
								<div class="price_l">￥9.90</div>
								<p class="price_s">￥18.8</p>
							</div>
							<div class="goods_img">
								<img width="100%" height="100%" ="100%" 
								src="public/images/goods_img_1.jpg" alt="">
							</div>
							<p class="g_datails">
								第二件4.9  买3份发5斤 邻和 陕西黑布林 李子 500g
							</p>
							<p class="praise_rate">好评率<span>20%</span></p>
							<div class="pr_sum">
								<div class="pr_value"></div>
							</div>
							<div class="purchase">立即抢购</div>
						</a>
					</li>
					<li>
						<a href="{url('jdsx', 'jdsx_info')}">
							<div class="price">
								<div class="price_l">￥9.90</div>
								<p class="price_s">￥18.8</p>
							</div>
							<div class="goods_img">
								<img width="100%" height="100%" ="100%" 
								src="public/images/goods_img_1.jpg" alt="">
							</div>
							<p class="g_datails">
								第二件4.9  买3份发5斤 邻和 陕西黑布林 李子 500g
							</p>
							<p class="praise_rate">好评率<span>20%</span></p>
							<div class="pr_sum">
								<div class="pr_value"></div>
							</div>
							<div class="purchase">立即抢购</div>
						</a>
					</li>
					<li>
						<a href="{url('jdsx', 'jdsx_info')}">
							<div class="price">
								<div class="price_l">￥9.90</div>
								<p class="price_s">￥18.8</p>
							</div>
							<div class="goods_img">
								<img width="100%" height="100%" ="100%" 
								src="public/images/goods_img_1.jpg" alt="">
							</div>
							<p class="g_datails">
								第二件4.9  买3份发5斤 邻和 陕西黑布林 李子 500g
							</p>
							<p class="praise_rate">好评率<span>20%</span></p>
							<div class="pr_sum">
								<div class="pr_value"></div>
							</div>
							<div class="purchase">立即抢购</div>
						</a>
					</li>
					<li>
						<a href="{url('jdsx', 'jdsx_info')}">
							<div class="price">
								<div class="price_l">￥9.90</div>
								<p class="price_s">￥18.8</p>
							</div>
							<div class="goods_img">
								<img width="100%" height="100%" ="100%" 
								src="public/images/goods_img_1.jpg" alt="">
							</div>
							<p class="g_datails">
								第二件4.9  买3份发5斤 邻和 陕西黑布林 李子 500g
							</p>
							<p class="praise_rate">好评率<span>20%</span></p>
							<div class="pr_sum">
								<div class="pr_value"></div>
							</div>
							<div class="purchase">立即抢购</div>
						</a>
					</li>
					<li>
						<a href="{url('jdsx', 'jdsx_info')}">
							<div class="price">
								<div class="price_l">￥9.90</div>
								<p class="price_s">￥18.8</p>
							</div>
							<div class="goods_img">
								<img width="100%" height="100%" ="100%" 
								src="public/images/goods_img_1.jpg" alt="">
							</div>
							<p class="g_datails">
								第二件4.9  买3份发5斤 邻和 陕西黑布林 李子 500g
							</p>
							<p class="praise_rate">好评率<span>20%</span></p>
							<div class="pr_sum">
								<div class="pr_value"></div>
							</div>
							<div class="purchase">立即抢购</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="bar_box">
				<ul class="bar">
					<li>
						<a href="{url('jdsx', 'jdsx_info')}">
							<div class="price">
								<div class="price_l">￥9.90</div>
								<p class="price_s">￥18.8</p>
							</div>
							<div class="goods_img">
								<img width="100%" height="100%" ="100%" 
								src="public/images/goods_img_1.jpg" alt="">
							</div>
							<p class="g_datails">
								第二件4.9  买3份发5斤 邻和 陕西黑布林 李子 500g
							</p>
							<p class="praise_rate">好评率<span>98%</span></p>
							<div class="pr_sum">
								<div class="pr_value"></div>
							</div>
							<div class="purchase">立即抢购</div>
						</a>
					</li>
					<li>
						<a href="{url('jdsx', 'jdsx_info')}">
							<div class="price">
								<div class="price_l">￥9.90</div>
								<p class="price_s">￥18.8</p>
							</div>
							<div class="goods_img">
								<img width="100%" height="100%" ="100%" 
								src="public/images/goods_img_1.jpg" alt="">
							</div>
							<p class="g_datails">
								第二件4.9  买3份发5斤 邻和 陕西黑布林 李子 500g
							</p>
							<p class="praise_rate">好评率<span>20%</span></p>
							<div class="pr_sum">
								<div class="pr_value"></div>
							</div>
							<div class="purchase">立即抢购</div>
						</a>
					</li>
					<li>
						<a href="{url('jdsx', 'jdsx_info')}">
							<div class="price">
								<div class="price_l">￥9.90</div>
								<p class="price_s">￥18.8</p>
							</div>
							<div class="goods_img">
								<img width="100%" height="100%" ="100%" 
								src="public/images/goods_img_1.jpg" alt="">
							</div>
							<p class="g_datails">
								第二件4.9  买3份发5斤 邻和 陕西黑布林 李子 500g
							</p>
							<p class="praise_rate">好评率<span>20%</span></p>
							<div class="pr_sum">
								<div class="pr_value"></div>
							</div>
							<div class="purchase">立即抢购</div>
						</a>
					</li>
				</ul>
			</div>
			<ul class="bar_dot">
				<li class="cur"></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>

	<script src="public/js/text.js"></script>

</body>
</html>