<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>收货地址</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script type="text/javascript" src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>
	<!-- import stylesheet -->
	<link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
	<!-- import iView -->
	<script src="//unpkg.com/iview/dist/iview.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="col-md-3">
			{include file="ucenter/menu.html"}
		</div>
		<div class="col-md-9">
			<h3>收获地址管理<a @click="" class="btn btn-success">添加地址</a></h3>

			<modal v-model="show">111</modal>
			<ul>
				<li></li>
			</ul>
		</div>
	</div>

	<script type="text/javascript">
		new Vue({
			el: '.container',
			data:{
				show: true,
			}
		})
	</script>
</body>
</html>